<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="SUCURSALES" value="05,10" /> <!-- AGREGAR SUCURSALES A RESPALDAR SEPARADAS POR COMA (EJEMPLO: 05,10,19 )-->
		<add key="ORIGIN_PATH" value="\Test" />
		<add key="DESTINATION_PATH" value="\\srv-rex-adm-bkp\Sucursales\TEMP_SUC" />
	</appSettings>
	<connectionStrings>
		<add name="SISTEMAS" connectionString="Data Source=REX_M;User ID=Complemento;PWD=Complemento;Initial Catalog=SISTEMAS;" />
		<add name="INTEGRACIONES" connectionString="Data Source=INTEGRACIONES;User ID=Complemento;PWD=Complemento;Initial Catalog=SISTEMAS;" />
	</connectionStrings>
</configuration>